---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mi">
  <main
    class="bg-black d-flex flex-col justify-center align-middle max-w-7xl mx-auto w-full h-full"
  >
    <h2 class="text-white">Sobre mi</h2>
  </main>
</Layout>
