---
import Carousel from '../components/Carousel.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" bg-black d-flex flex-col justify-center align-middle max-w-7xl mx-auto w-full h-full">
		<Carousel />
	</main>
</Layout>

<style>
	
</style>
